@tailwind base;
@tailwind components;
@tailwind utilities;

#midtext{
    background: url('https://wallpapers.com/images/hd/colorful-pattern-cic21kmyceksw5xg.jpg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}
.contact{
    height: 78vh;
    background: url('https://img.freepik.com/free-photo/vintage-pink-telephone-composition_23-2148913955.jpg');
    background-size: cover;

}
